<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World!</title>
  </head>
  <style>
    body {
      background-color: #090f13;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    body h1 {
      color: #0f5132;
      font-family: "Courier New", Courier, monospace;
      font-size: 40px;
    }
  </style>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
